.mainContainer{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.fullContainer {
  margin-left: 20px;
  margin-right: 20px;
}
.logout {
  width: 100px;
  position: absolute;
  right: 150px;
  margin-top: -30px;
}